body {
  background-color: #FAF5EF;
}

h1 {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 30pt;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

img {
	display: inline-block;
	width:350px;
	height: 350px;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

p {
	font-size: 15pt;
	font-family: 'Roboto', sans-serif;
	color: black;
	text-align: center;
	word-spacing: 360px;
}